<p>Hi {{ recipientFirstName }},</p>
<p>{{ performerFullName }} has rejected your leave request for following days:</p>
<table style="width:100%;text-align:left">
    <thead>
    <tr>
        <th>Date(s)</th>
        <th>Duration(Hours)</th>
    </tr>
    </thead>
    <tbody>
    {% for leaveDetail in leaveDetails %}
        <tr>
            <td>{{ leaveDetail['date'] }}</td>
            <td>{{ leaveDetail['duration'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>Leave type : {{ leaveType }}</p>
{% if leaveRequestComments %}
    <p>Comments:</p>
    <table style="width:100%;text-align:left">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Commenter</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for leaveRequestComment in leaveRequestComments %}
            <tr>
                <td>{{ leaveRequestComment['date'] }}</td>
                <td>{{ leaveRequestComment['time'] }}</td>
                <td>{{ leaveRequestComment['name'] }}</td>
                <td>{{ leaveRequestComment['comment'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<p>Thank you.</p>
<p>This is an automated notification.</p>
